
.tbody {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 15px;
    color: royalblue;
}

.header {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 241, 215);
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color:rgb(0, 0, 0);
    background-image: url("../images/img/ivana-cajina-HDd-NQ_AMNQ-unsplash.jpg")

}

footer{
    color: rgb(255, 238, 210);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}